
<div class="register-box container">
    <h1 class="text-center p-3 pt-5">Login</h1>
    <form (submit)="login()"  class="form text-center">
      <input type="text" [(ngModel)]="username" name="username" class="form-control reg-in mt-3 p-2" placeholder="username">
      <input type="password" [(ngModel)]="password" name="password" class="form-control reg-in mt-3 p-2" placeholder="password">
      <button type="submit" class="btn btn-primary mt-4">Login</button>
    </form>
  </div>
  <!-- <router-outlet></router-outlet> -->