<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid p-3">
      <a class="navbar-brand" href="#">CompanyName</a>
      <div class="ms-auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup1" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup1">
        <div class="navbar-nav text-start">
          <a class="nav-link active" aria-current="page" routerLink="/users" routerLinkActive="active">Home</a>
          <a class="nav-link" routerLink="/register">Register</a>
          <a class="nav-link" routerLink="">Login</a>
          <a class="nav-link" routerLink="/account">Info</a>
          <a class="nav-link" routerLink="/customer/home">Customer</a>
          <a  class="nav-link" routerLink="/product">Products</a>
          <a *ngIf="log" class="nav-link" routerLink="/bill">bills</a>
        </div>
    </div>
    </div>
    </div>
</nav>