<div class="container cart">
<h1 class="mt-4 text-center">Shopping cart</h1>

<div class="container row p-5">
    <div class="container col-7 grad-box p-4">
        <h2 class="mt-4">cart ({{products.length}} items)</h2>
        <div *ngFor="let prod of products">
<div class="mt-4 container row">
<div class="col-4">
<!-- <img src="https://cdn.shopify.com/s/files/1/0011/9783/4252/products/20_375a8763-f5d7-4184-a352-4523ef713733_900x.jpg?v=1576267132"> -->
<div class="pro1"></div>
</div>
<div class="col-8">
<div class="row">
    <div class="col-8">
        <h3>{{prod.title}}</h3>
        <p>This a line of description of the product.</p>
        <p>size</p>
    </div>
    <div class="col-4">
        <div class="btn-group btn-group-sm p-1" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-dark" (click)="decrement()">-</button>
                <input type="text" class="text-center" size="1" [(ngModel)]="metMine" name="quantity" value="1">
            <button type="button" class="btn btn-outline-dark" (click)="increment()">+</button>
          </div>
    </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p>$ {{prod.price}}</p>
        </div>
<div class="col-4">
    
    <button class="btn btn-dange" (click)="deleteCartItem(prod)"><i class="fas fa-trash-alt"></i></button>
</div>
    </div>
    
</div>
</div>
    </div>
</div>
    <div class="col-5"> 
        <div class="grad-box p-4">
<h2 class="">The total amount of</h2>
<table class="mt-3">
    <tr>
        <td>Temporary amount</td>
        <td>{{products[0].price}}</td>
    </tr>
    <tr>
        <td>Shipping</td>
        <td>{{delivery}}</td>
    </tr>
<hr>
<tr>
    <td>The total amount of(including VAT)</td>
    <td></td>
</tr>
</table>
<button class="btn btn-primary form-control mt-3">Go To Checkout</button>
</div>
<div class="container mt-4 grad-box pt-2 text-center">
    <p class="dropdown-toggle" data-bs-toggle="dropdown">Add a discount code (optional)</p>
    <div class="dropdown-menu">
    <input type="text" class="form-control">
    </div>
</div>
</div>
</div>
</div>