<div class="container mt-4">
    <h5>Search bill</h5>
    <form class="mt-3" (ngSubmit)="searchBill()">
        <label for="id">Enter Customer Name</label>
        <input type="text" name="customer" [(ngModel)]="customer" class="form-control" placeholder="Customer name">
        <button class="btn btn-success mt-3">Search</button>
    </form>
</div>

<div class="container">
    <div *ngFor="let bill of bills">
        <tr>
            <th>Product Bill</th>
            <th></th>
        </tr>
        <tr>
            <td>id :</td>
            <td>{{bill.id}}</td>
        </tr>
        <tr>
            <td>customer : </td>
            <td>{{bill.customer}}</td>
        </tr>
        <tr>
            <td>product : </td>
            <td>{{bill.products}}</td>
        </tr>
        <tr>
            <td>line Items : </td>
            <td>{{bill.lineItems}}</td>
        </tr>
        <tr>
            <td>quantity : </td>
            <td>{{bill.quantity}}</td>
        </tr>
        <tr>
            <td>Total : </td>
        </tr>
    </div>
</div>